networks:
  default:
    external: true
    name: homelab

services:
  # Nginx Proxy Manager (Reverse Proxy)
  nginx:
    image: "jc21/nginx-proxy-manager:latest"
    container_name: NginxProxyManager
    restart: unless-stopped
    ports:
      - "${NGINX_PORT_80:-8341}:80"
      - "${NGINX_PORT_81:-81}:81"
      - "${NGINX_PORT_443:-8766}:443"
    volumes:
      - "${HOMELAB_PATH}/nginx/data:/data"
      - "${HOMELAB_PATH}/nginx/letsencrypt:/etc/letsencrypt"
      
  overseerr:
    image: sctx/overseerr:latest
    container_name: Overseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/London
      - PORT=${OVERSEERR_PORT:-5055}
    ports:
      - "${OVERSEERR_PORT:-5055}:5055"
    volumes:
      - "${HOMELAB_PATH}/overseerr-data:/app/config"
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8
